*{text-decoration: none;}
a{text-decoration: none !important;}
header{background-color: #f9f9f9; color: #000000;}
.menuPrincipal{list-style-type: none;}
.menuPrincipal li{display: inline-block; padding: 25px 40px; font-size: 14px; text-decoration:none;}
.fd-caca{background-color: rgb(61, 30, 11); color: white;}
.fd-blanco{background-color: rgb(255, 255, 255, 0.7); border-radius: 5px;}
.fd-vino{background-color: #961a1a; color: white;}

.imghero{
    background-image: url(../IMG/hero.jpg);
    height: 700px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.formulario{margin: 0px, 40px;}
.form-cont{margin-bottom: 60px;}
.form-title{margin-top: 50px;}
.botonHeader{font-weight: bold; color: black; font-size: 15px;}
.izq{text-align:left;}
.der{text-align:right;}
.linea{padding: 10px 0px;}
.bloque{margin-top: 30px; padding: 40px 0px;}
.logo img{height: 50px; margin: 12px 0px 0px;}
.encabezado{font-size: 55px; margin: 40px 0px 0px;}
.subencabezado{font-weight: normal;}
.links a{font-size: 18px; margin: 10px 20px 0px;text-decoration:none;}
.row{position: relative;}
.copy{position: absolute;}
.callToAction{text-decoration: none; padding: 10px 35px; border-radius: 4px;}
.action{position: absolute; top: 60%; margin-left: 36px;}
.action-hero{position: absolute; margin-top: 450px; margin-left: 36px;}
.action h2{color: white; text-transform: uppercase; font-size: 72px; line-height: 60px; margin-bottom: 15px;}
.action-hero h2{color: white; text-transform: uppercase; font-size: 72px; line-height: 60px; margin-bottom: 15px;}
.promocion{background-color: rgba(126, 29, 29, 0.5); color: wheat; font-size: 50px; border-radius: 5px;}
.callToActionOferta{text-decoration: none; padding: 8px 25px; border-radius: 4px; font-size: 20; background-color: white; color: rgb(61, 30, 11);}
.promoImage{height: 400px; width: 100%;}
.destino{margin-left: 20px;}
.img-eventos{width: 100%; height: 100%;}
.formulario h3{font-size: 18px; margin-top: 20px;}
.sumbit{margin: 40px;}
#posters h1{color: rgb(126, 29, 29); background-color: rgba(225, 225, 225, 30);}
footer{display: flex; justify-content: center; background-color: #961a1a; color: white;padding: 20px;}
.foot{width: 100%; display: flex; justify-content: flex-start;}
.title__section{font-weight: bold; font-size: 20px; margin-bottom: 20px;}

.serch__section {
    width: 100%;
    height: 800px;
    background-color: #961a1a;
    background-image: url(https://images.unsplash.com/photo-1509803874385-db7c23652552?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    background-size: cover;
    position: relative;
}
    
.serching {
    border-radius: 5px;
    background-color: white;
    width: 80%;
    height: 9dp;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.serch__component .row {
        padding-top: 5px;
        padding-bottom: 20px;
}

.serch__button {
    border: solid #bfbfbf;
    border-radius: 3px;
    border-width: thin;
    padding: 10px;
}

.serch__button:hover {
    box-shadow: 1px 1px #bfbfbf;
}

.serch {
    text-align: center;
    color: white;
    background-color:  #961a1a;
    padding: 17px;
    border: none;
}

.comentarios{height:80px;}